{% extends 'nav.html' %}

{% block title %} All Uploads {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">All Uploaded Files</h1>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Filename</th>
                    <th>Admission Number</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr>
                    <td>{{ upload[0] }}</td>  <!-- Filename -->
                    <td>{{ upload[1] }}</td>  <!-- Admission Number -->
                    <td>
                        <a href="{{ url_for('serve_file', encoded_filename=quote(upload[0])) }}" class="btn btn-primary btn-sm">
                            Download
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
