{% extends 'nav.html' %}

{% block title %} CVL | Dashboard {% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Welcome, {{ username }}</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Profile Information</h5>
            <div class="mb-3">
                <a href="{{ url_for('upload_profile_pic') }}">Add Profile Pic</a></p>
                <h6>Profile Picture:</h6>
                {% if profile_picture %}
                    <img src="{{ url_for('static', filename='uploads/profile_pics/' ~ profile_picture) }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 150px;">
                    <form method="POST" action="{{ url_for('delete_profile_pic') }}" onsubmit="return confirm('Are you sure you want to delete your profile picture?');">
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete Profile Picture</button>
                    </form>
                {% else %}
                    <p>No profile picture uploaded.</p>
                {% endif %}
            </div>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Admission Number:</strong> {{ admission_number }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Your Uploaded Files</h5>

            {% if uploads %}
                <ul class="list-group">
                    {% for upload in uploads %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ upload[0] }}
                        <form method="POST" action="{{ url_for('delete_upload', filename=quote(upload[0])) }}" onsubmit="return confirm('Are you sure you want to delete this file?');">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no uploaded files.</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
